@media (max-width:768px){
    .navbar-brand{
        padding-left: 1rem;
    }

    .section-1 .panel{
        position: relative;
        width: inherit;
        height: inherit;
        top: 0;
        left: 0;
    }

    .section-2 .cover{
        background-position: -25vmin -10vmin;
    }

    .number .rect{
        width: 10rem;
        height: 8rem;
    }

    .number .rect h1{
        font-size: 2rem;
    }

    .section-3{
        height: inherit;
        padding: 10vmin !important;
    }

    .section-3 .row h1{
        padding: 10rem !important;
    }

    .section-3 .desktop i{
        font-size: 8vmin;
    }

    .section-3 .platform .col-md-6{
        text-align: center !important;
    }

    .section-4 .carousel-item{
        padding-left: 0.6rem;
    } 
}